/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-10-26 07:38:46 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 49%;
    }
}

@media (min-width: 768px) {
	.page-header .navigation .level0 .submenu {
		border: 0;
	}
	.page-header.type4 .header.panel {
		z-index: 5;
	}
}
@media (max-width: 767px) {
	.nav-toggle:before, .block-search .label:before, .nav-toggle:hover:before, .block-search .label:hover:before, .minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart:hover:before, .minicart-wrapper .action.showcart:active:before, .minicart-wrapper .action.showcart.active:before, .minicart-wrapper .action.showcart.active:hover:before {
		color: #fff;
	}
	.minicart-wrapper .action.showcart .counter.qty {
		color: #000
	}
}    .columns .column.main {
        max-width: 100%;
    }
    body > p {
        display: none;
    }