<div class="page-wrapper">
    <%= render partial: "header" %>

    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
    <div class="page messages"><div data-placeholder="messages"></div><div data-bind="scope: &#39;messages&#39;">
        <div data-bind="foreach: { data: cookieMessages, as: &#39;message&#39; }" class="messages"></div>
        <div data-bind="foreach: { data: messages().messages, as: &#39;message&#39; }" class="messages"></div>
    </div>

    </div><div class="columns"><div class="column main"><input name="form_key" type="hidden" value="pfyMa3rid9ByIQUM"><div id="authenticationPopup" data-bind="scope:&#39;authenticationPopup&#39;" style="display: none;">
        <script>
            window.authenticationPopup = {"customerRegisterUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/"};
        </script>
        <!-- ko template: getTemplate() -->



    <!-- /ko -->
        
    </div>


    <br>
    <div class="entry-content">
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="word-rotator-title">The New Way to <strong><span class="word-rotate active" style="height: 30px;"><span class="word-rotate-items" style="top: -60px;"><span>success.</span><span>advance.</span><span>progress.</span><span>success.</span></span></span></strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-10">
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non <span class="alternative-font">metus.</span> pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.</p> 
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary push-top" title="Join Our Team!" href="http://www.newsmartwave.net/magento2/porto/demo4_en/about-porto#">Join Our Team!</a>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-12">
                        <hr class="tall">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class=""><strong>Who</strong> We Are</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="http://www.newsmartwave.net/magento2/porto/demo4_en/about-porto#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing <span class="alternative-font">metus</span> sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-12">
                        <hr class="tall">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="push-top">Our <strong>History</strong></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper container" style="margin-bottom: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="history">
                            <div class="thumb">
                                <img width="150" height="150" src="./Porto - About Us_files/office-1-150x150.jpg" class="attachment-thumbnail" alt="office-1">
                            </div>
                            <div class="featured-box" style="height: auto;">
                                <div class="box-content">
                                    <h4><strong>2012</strong></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                                </div>
                            </div><!--.feature-box-->
                        </div><!--.history-->
                        <div class="history">
                            <div class="thumb">
                                <img width="150" height="150" src="./Porto - About Us_files/office-2-150x150.jpg" class="attachment-thumbnail" alt="office-2">
                            </div>
                            <div class="featured-box" style="height: auto;">
                                <div class="box-content">
                                    <h4><strong>2010</strong></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.</p>
                                </div>
                            </div><!--.feature-box-->
                        </div><!--.history-->
                        <div class="history">
                            <div class="thumb">
                                <img width="150" height="150" src="./Porto - About Us_files/office-3-150x150.jpg" class="attachment-thumbnail" alt="office-3">
                            </div>
                            <div class="featured-box" style="height: auto;">
                                <div class="box-content">
                                    <h4><strong>2005</strong></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                                </div>
                            </div><!--.feature-box-->
                        </div><!--.history-->
                        <div class="history">
                            <div class="thumb">
                                <img width="150" height="150" src="./Porto - About Us_files/office-4-150x150.jpg" class="attachment-thumbnail" alt="office-4">
                            </div>
                            <div class="featured-box" style="height: auto;">
                                <div class="box-content">
                                    <h4><strong>2000</strong></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                                </div>
                            </div><!--.feature-box-->
                        </div><!--.history-->
                    </div>
                </div>
            </div>
        </div>
    </div></div></div></main>

    <%= render partial: 'footer' %>
</div>