// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newsletter_popup {
  height:324px;  
  width:700px;
}

.logo img {
  position: relative;
  top: -12px;
  left: 0;
}

header {
  height: 120px;
}

.sticky-header {
  .sticky-logo {
    width: 50px;
  }

  nav.navigation.sw-megamenu {
    ul {
      padding-top: 10px;
    }
  }

  .minicart-wrapper {
    right: 20px !important;
    top: 64% !important;
  }
}

header:not(.sticky-header) {
  .nav-sections {
    top: 55% !important;
  }
  .panel.header {
    top: 54% !important;
  }
}

.porto-icon-search {
  border: none;
}

#half-image-1 {
  background: image-url('/assets/dogs.jpg') left center / cover no-repeat;
  min-height: 752px;
  width: 100%;
}

#half-image-2 {
  background: image-url('/assets/cats.jpg') right center / cover no-repeat;
  min-height: 705px;
  width: 100%;
}