<footer class="page-footer">
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-block">
                            <div class="homepage-bar" style="background-color: transparent;color: #fff;padding: 10px 0;border: 0;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <em class="porto-icon-truck" style="font-size:36px;color: #fff;"></em>
                                            <div class="text-area">
                                                <h3 style="color: #fff;">FREE SHIPPING &amp; RETURN</h3>
                                                <p>Free shipping on all orders over $99.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="border-color: #149ce0;">
                                            <em class="porto-icon-dollar" style="color: #fff;"></em>
                                            <div class="text-area">
                                                <h3 style="color: #fff;">MONEY BACK GUARANTEE</h3>
                                                <p>100% money back guarantee.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="border-color: #149ce0;">
                                            <em class="porto-icon-lifebuoy" style="font-size:32px;color: #fff;"></em>
                                            <div class="text-area">
                                                <h3 style="color: #fff;">ONLINE SUPPORT 24/7</h3>
                                                <p>Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                                .footer-top > .container {
                                width: 100%;
                                }
                                .footer-top > .container > .row > .col-md-12 {
                                padding: 0;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong>My Account</strong></div>
                            <div class="block-content">
                                <ul class="links">
                                    <li><em class="porto-icon-right-dir theme-color"></em>
                                        <%= link_to "About us", main_app.about_path %>
                                    </li>
                                    <li><em class="porto-icon-right-dir theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en/contact" title="Contact us">Contact us</a></li>
                                    <li><em class="porto-icon-right-dir theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en/customer/account" title="My account">My account</a></li>
                                    <li><em class="porto-icon-right-dir theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en/sales/order/history" title="Orders history">Orders history</a></li>
                                    <li><em class="porto-icon-right-dir theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalogsearch/advanced" title="Advanced search">Advanced search</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong>Contact Information</strong></div>
                            <div class="block-content">
                                <ul class="contact-info">
                                    <li>
                                        <em class="porto-icon-location"></em>
                                        <p>
                                            <b>Address:</b><br>Ciudad Celeste, Etapa la Peninsula<br>
                                            Manzana 1, Villa 9<br>
                                            Samborondon, Ecuador
                                        </p>
                                    </li>
                                    <li>
                                        <em class="porto-icon-phone"></em>
                                        <p><b>Phone:</b><br>(504) 408-1927</p>
                                    </li>
                                    <li>
                                        <em class="porto-icon-mail"></em>
                                        <p><b>Email:</b><br><a href="mailto:mail@mascomundo.com">mail@mascomundo.com</a></p>
                                    </li>
                                    <li>
                                        <em class="porto-icon-clock"></em>
                                        <p><b>Working Days/Hours:</b><br>Mon - Sun / 9:00AM - 8:00PM</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong>Main Features</strong></div>
                            <div class="block-content">
                                <ul class="features">
                                    <li><em class="porto-icon-ok theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en#">Super Fast Magento Theme</a></li>
                                    <li><em class="porto-icon-ok theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en#">1st Fully working Ajax Theme</a></li>
                                    <li><em class="porto-icon-ok theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en#">10 Unique Homepage Layouts</a></li>
                                    <li><em class="porto-icon-ok theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en#">Powerful Admin Panel</a></li>
                                    <li><em class="porto-icon-ok theme-color"></em><a href="http://www.newsmartwave.net/magento2/porto/demo4_en#">Mobile &amp; Retina Optimized</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block newsletter">
                            <div class="block-title"><strong>Be the First to Know</strong></div>
                            <div class="content">
                                <p>Get all the latest information on Events,<br>Sales and Offers. Sign up for newsletter today.</p>
                                <label for="footer_newsletter">Enter your email address</label>
                                <form class="form subscribe" novalidate="novalidate" action="http://www.newsmartwave.net/magento2/porto/demo4_en/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                                    <div class="field newsletter">
                                        <label class="label" for="footer_newsletter"><span>Sign Up for Our Newsletter:</span></label>
                                        <div class="control">
                                            <input name="email" type="email" id="footer_newsletter" data-validate="{required:true, &#39;validate-email&#39;:true}">
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <button class="action subscribe primary" title="Subscribe" type="submit">
                                        <span>Subscribe</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <strong class="logo">
                <%= image_tag("mm_logo_white_2.svg") %>
                </strong>
                <div class="custom-block">
                    <ul class="social-icons">
                        <li><a class="facebook-link" href="http://www.newsmartwave.net/magento2/porto/demo4_en#"><em class="porto-icon-facebook"></em></a></li>
                        <li><a class="twitter-link" href="http://www.newsmartwave.net/magento2/porto/demo4_en#"><em class="porto-icon-twitter"></em></a></li>
                        <li><a class="linkedin-link" href="http://www.newsmartwave.net/magento2/porto/demo4_en#"><em class="porto-icon-linkedin-squared"></em></a></li>
                    </ul>
                    <%= image_tag("payments.png") %>
                </div>
                <address>©Copyright 2016 by MascoMundo, Inc. All Rights Reserved.</address>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" id="totop"><em class="porto-icon-up-open"></em></a>
</footer>